.container1 {
    padding-left: 200px;
    width: 1500px; 
    margin: center;
}
.history-container {
    display: flex;
    gap: 40px; 
    height: 100%; 
    width: 100%; 
}
.json-link {
    color: #4a90e2; 
    text-decoration: none; 
}
.json-link:hover {
    text-decoration: underline; 
}
.scan-history, .bypass-history {
    width: 48%; 
    height: calc(100vh - 150px); 
    background-color: #202020;
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #d0d0d0;
    overflow-y: auto; 
}
.history-list {
    margin-top: 20px;
    width: 100%; 
}
.history-item {
    margin-bottom: 20px; 
    padding: 20px; 
    background-color: #181818;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.history-item button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.history-item button:hover {
    background-color: #444;
}